.container {
  width: 80%;
}

.header {
  font-size: 3.2em;
  line-height: 1.1;
  color: #2c3e50;
  text-align: center;
}

@media (prefers-color-scheme: dark) {
  .header {
    color: rgba(255, 255, 255, 0.87);
  }
}
